<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_vaivan_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vaivan_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoGrauA"
        tools:targetApi="31">

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- CADASTRO -->
        <activity android:name=".TipoCadastroActivity" />

        <!-- DADOS DE ACESSO -->
        <activity android:name=".DadosDeAcessoResponsavel" />
        <activity android:name=".DadosDeAcessoMotorista" />

        <!-- VALIDAÇÃO -->
        <activity android:name=".ValidacaoEmailResponsavel" />
        <activity android:name=".ValidacaoEmailMotorista" />

        <!-- INFORMAÇÕES -->
        <activity android:name=".InformacoesPessoaisResponsavel" />
        <activity android:name=".InformacoesPessoaisMotorista" />

        <!-- ENDEREÇO -->
        <activity android:name=".EnderecoResponsavel" />
        <activity android:name=".EnderecoMotorista" />

        <!-- DOCUMENTOS MOTORISTA -->
        <activity android:name=".ValidaCnhActivity"/>
        <activity android:name=".AutorizacaoActivity"/>
        <activity android:name="AnaliseDocumentosActivity"/>

        <!-- PERFIL RESPONSAVEL -->
        <activity android:name=".PerfilActivity" />
        <activity android:name=".AdicionarPassageiroActivity"/>
        <activity android:name=".ListaPassageirosActivity"/>
        <activity android:name=".ProcurarMotoristaActivity"/>
        
    </application>

</manifest>