<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_vaivan_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vaivan_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoGrauA"
        tools:targetApi="31">
        <activity
            android:name=".ui.motorista.HomeMotoristaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.responsavel.HomeResponsavelActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFQt2ZHq22PLGQYdWsFTtUXp_35OX1YkA" /> <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN E CADASTRO -->
        <activity android:name=".cadastro.PerfilActivity" />
        <activity android:name=".cadastro.TipoCadastroActivity" /> <!-- DADOS DE ACESSO -->
        <activity android:name=".cadastro.responsavel.ui.DadosDeAcessoResponsavel" />
        <activity android:name=".cadastro.motorista.DadosDeAcessoMotorista" /> <!-- VALIDAÇÃO -->
        <activity android:name=".cadastro.responsavel.ui.ValidacaoEmailResponsavel" />
        <activity android:name=".cadastro.motorista.ValidacaoEmailMotorista" /> <!-- INFORMAÇÕES -->
        <activity android:name=".cadastro.responsavel.ui.InformacoesPessoaisResponsavel" />
        <activity android:name=".cadastro.motorista.InformacoesPessoaisMotorista" /> <!-- ENDEREÇO -->
        <activity android:name=".cadastro.responsavel.ui.EnderecoResponsavel" />
        <activity android:name=".cadastro.motorista.EnderecoMotorista" /> <!-- DOCUMENTOS MOTORISTA -->
        <activity android:name=".cadastro.motorista.ValidaCnhActivity" />
        <activity android:name=".cadastro.motorista.AutorizacaoActivity" />
        <activity android:name=".cadastro.motorista.AnaliseDocumentosActivity" /> <!-- PERFIL RESPONSAVEL -->
        <activity android:name=".ui.responsavel.passageiros.AdicionarPassageiroActivity" />/> <!-- PERFIL MOTORISTA -->/>
    </application>

</manifest>